/* La police */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #1f2328;
    background-color: #ffffff;
    max-width: 1012px;
    margin: 0 auto;
    padding: 45px;
}

h1, h2, h3 {
    font-weight: 600;
    border-bottom: 1px solid #d0d7de;
    padding-bottom: .3em;
}

/* Style des tableaux */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
}

table td {
    padding: 12px;
    border: 1px solid #d0d7de;
}

img {
    max-width: 100%;
    border-radius: 6px;
}